<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" />
    <contextName>${spring.application.name}</contextName>

    <!-- Spring log appenders -->
    <appender name="SPRING_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>exception</stackTrace>
                <mdc>context</mdc>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="SPRING_FILE" class="ch.qos.logback.core.FileAppender">
        <file>spring/spring.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>exception</stackTrace>
                <mdc>context</mdc>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="ASYNC_SPRING_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SPRING_CONSOLE" />
    </appender>

    <appender name="ASYNC_SPRING_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SPRING_FILE" />
    </appender>

    <!-- Netty log appenders -->
    <appender name="NETTY_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>exception</stackTrace>
                <mdc>context</mdc>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="NETTY_FILE" class="ch.qos.logback.core.FileAppender">
        <file>netty/access_log.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>exception</stackTrace>
                <mdc>context</mdc>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="ASYNC_NETTY_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="NETTY_CONSOLE" />
    </appender>

    <appender name="ASYNC_NETTY_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="NETTY_FILE" />
    </appender>

    <!-- register appenders by profile -->
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

        <root level="TRACE">
            <appender-ref ref="ASYNC_SPRING_CONSOLE" />
        </root>

        <logger name="reactor.netty.http.server.AccessLog" additivity="false" level="TRACE">
            <appender-ref ref="ASYNC_NETTY_CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

        <root level="INFO">
            <appender-ref ref="ASYNC_SPRING_FILE" />
        </root>

        <logger name="reactor.netty.http.server.AccessLog" additivity="false" level="INFO">
            <appender-ref ref="ASYNC_NETTY_FILE"/>
        </logger>
    </springProfile>

</configuration>
